# Игнорируем окружение
.env
__pycache__/

# Игнорируем артефакты и временные файлы
*.csv
*.ipynb
notes.txt

# Игнорируем ноутбуки и catboost логи
notebooks/

# Игнорируем модели
ml_models/

# Игнорируем локальный README (если нужно)
README.md
