# Игнорируем окружение
.env
__pycache__/

notebooks/catboost_info/

# Игнорируем артефакты и временные файлы
*.csv
candidate_generation.ipynb
lms.ipynb
notes.txt
app_lms.py

# Игнорируем ноутбуки и catboost логи
# notebooks/

# Игнорируем модели
# ml_models/

# Игнорируем локальный README (если нужно)

rank_model_control
rank_model_test

app.log